[req]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no
[req_distinguished_name]
C = AU
ST = VIC
L = MELBOURNE
O = MELBARK
OU = MELBARK 
CN = 192.168.0.1:3000
[v3_req]
keyUsage = critical, digitalSignature, keyAgreement
extendedKeyUsage = serverAuth
subjectAltName = @alt_names
[alt_names]
DNS.1 = 192.168.0.1:3000
DNS.2 = 192.168.0.1:3000
DNS.3 = 192.168.0.1:3000